
{% extends "base.html" %}

{% block title %}Registro de Auditoría{% endblock %}

{% block content %}
<div class="container">
    <h2>Auditoría del Sistema</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Acción</th>
                <th>Fecha/Hora</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for audit in auditorias %}
            <tr>
                <td>{{ audit.id }}</td>
                <td>{{ audit.usuario.nombre_usuario }}</td>
                <td>{{ audit.accion }}</td>
                <td>{{ audit.fecha_hora.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ audit.detalles }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
