{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Iniciar Sesión</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nombre_usuario.label }}
                {{ form.nombre_usuario(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.contraseña.label }}
                {{ form.contraseña(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary mt-3") }}
        </form>
    </div>
</div>
{% endblock %}

