<!--
Renders the user registration page for the application.

This template extends the base.html template and provides a form for users to register
with the application. The form includes fields for the user's username, password, and
role. When the form is submitted, the data is sent to the server for processing.
-->

{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Registro de Usuario</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nombre_usuario.label }}
                {{ form.nombre_usuario(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.contraseña.label }}
                {{ form.contraseña(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.rol.label }}
                {{ form.rol(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary mt-3") }}
        </form>
    </div>
</div>
{% endblock %}